@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
};

*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
}


html, body {
  font-family: var(--font1);
  min-height: 100vh;
  background-color: darkgray;
}

#titulo {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: var(--font2);
    padding-top: 50px;   
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

header {
    text-align: center;
    color: white;
    background-color: black;
    width: auto;
    height: 300px;
}

section {
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}

 section.imagem > p {
    font-size: 2vw;
    display: inline-block;
    padding: 7px;
    background-color: rgba(7, 7, 7, 0.432);
    text-shadow: 1px 1px 0px black;
}
section#img01 {
background-image: url(imagens/background001.jpg);
background-position: right center;
background-size: cover;

}
section#img02 {
background-image: url(imagens/background002.jpg);
background-position: right center;
background-size: cover;

}

section.imagem {
    
    background-attachment: fixed;
    background-color: rgba(32, 32, 32, 0.342);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);


}



.normal {
    font-size: 3vw;
    background-color: white;
    color: black;
    padding: 50px;
    text-align: justify;
}





footer {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}
